<div class="container">
    <div class="row jumbotron">
        <h2 class="text-info">
            Zamówienia
        </h2>

        <div class="container">
            <form class="form-inline">
                <div class="panel panel-body panel-info" ng-repeat="order in orders">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <label for="name" class="control-label">Odbiorca:</label>
                                <input type="text" class="form-control" id="name" name="order_name"
                                       placeholder="przykładowa nazwa" ng-model="order.name" disabled>
                            </div>
                            <div class="form-group form-group-sm">
                                <label for="address" class="control-label">Adres:</label>
                                <input type="text" class="form-control" id="address" name="order_address"
                                       ng-model="order.address" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <label class="control-label">Produkty:</label>
                                <input ng-repeat="p in order.orderedProducts track by $index" type="text"
                                       class="form-control" name="order_address" value="{{p.name}}, {{p.price|currency}}"
                                       disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group form-group-sm">
                            <div class="btn btn-group">
                                <button class="btn btn-primary btn-sm " name="submit" type="submit"><span
                                        class="glyphicon glyphicon-pencil"/> Modyfikuj
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
