<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="h2 text-info row" ng-click="returnToShop()">
        powrót do sklepu
    </div>
    <div class="jumbotron">
        <div class="row">
            <h1 class="h1 col-md-8">{{title}}</h1>
            <div class="pull-right btn-group">
                <button class="btn btn-danger" ng-click="cancelOrder()">Anuluj zamówienie</button>
                <button class="btn btn-success" ng-click="">Złóż zamówienie</button>
                <button class="btn btn-warning" ng-click="continueShopping()">Kontynuuj zakupy</button>
            </div>

        </div>
        <div class="row">
            <div class="list-group">
                <div class="row list-group-item" ng-repeat="p in products" >
                    <p class="col-md-4">{{p.name }}, <strong>{{p.price | currency}}</strong></p>
                    <img ng-src="{{p.img}}" class="col-md-2 img-responsive pull-right" alt="{{p.name}}">
                </div>
                <div class="row list-group-item-success">
                    <h4 class="h4 text-success pull-right">suma koszyka: <strong>{{sumBasket() | currency}}</strong></h4>
                </div>
            </div>

        </div>
    </div>
</div>
