<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="h1 text-info row">
        {{title}}
    </div>

    <div class="row">
        <div class="panel panel-body col-md-2">
            <h3 class="h3 text-info">Kategorie:</h3>
            <p ng-repeat="c in categories">
                <input type="checkbox" ng-checked="c.checked" ng-click="changeCheckbox($index)"> {{c.name }}
            </p>
        </div>
        <div class="col-md-10 jumbotron">
            <div ng-show="info.show" class="row">
                <div class="alert {{info.cssClass}}">{{info.msg}}</div>
            </div>
            <div class="row">
                <strong class="text-info" ng-hide="isShopping()">Koszyk: {{basketSize}}</strong>
                <div class="btn btn-group pull-right">
                    <button class="btn btn-sm btn-info" ng-click="addProductAction()"><span class="glyphicon glyphicon-apple"></span> Dodaj produkt </button>
                    <button ng-class="basketBtn.btn_class" ng-click="basketAction()"><span class="glyphicon glyphicon-apple"></span> {{basketBtn.title}} </button>
                </div>

            </div>
            <div class="row">
                <h3 class="h3 text-info">Produkty:</h3>
                <div class="col-sm-4" ng-repeat="p in products" ng-show="categories[p.category].checked">
                    {{p.name }}, <strong>{{p.price | currency}}</strong>, {{categories[p.category].name}}
                    <button class="btn btn-sm  btn-success"  ng-hide="isShopping()" ng-click="addToBasket($index)"><span class="glyphicon glyphicon-euro"></span> Dodaj</button>
                    <img ng-src="{{p.img}}" class="img-responsive" width="250"  alt="{{p.name}}">
                </div>
            </div>

        </div>
    </div>
</div>